body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#app{
  font-family: 'Abel', sans-serif;
  background-color: black;
  height: 100vh;
}
#info{
  position: absolute;
  margin-left: 41%;
  height: 100vh;
  width: 59%;
  border-left: 1pt solid white;
}

#lista{
  position: absolute;
  border: 1pt solid black;
  height: 100vh;
  overflow-y: scroll;
  width: 40%;
  font-size: 15pt;
  background-color: coral;
}

#sprite{
  width: 92%;
  height: 40%;
  border: 31pt solid red;
  background-color: coral;
}
#img{
  width: 200px;
  height: 200px;
  margin-left: 39%;
  margin-top: 3%;
  display: none;
}
#type{
  width: 100%;
  height: 5%;
  background-color: coral;
}
#type span{
  margin-top: 0.7%;
  position: absolute;
  font-size: 14pt;
}
#description{
  background-color: coral;
  font-size: 14pt;
  height: 44%;
  border: 1pt solid black;
  text-align: center;
  padding-top: 5px;
}
#ty{
  color: white;
  padding-left: 50.1%;
  width: 100%;
}
#de{
  color: white;
  padding-left: 48%;
  width: 100%;
}
ol{
  padding-left: 0px;
  clear:left;
  margin-top: 30px;
}
li{
  height: 6vh;
}
#sp{
  padding-left: 5px;
  position: absolute;
  margin-top: 8.5px;
}
hr{
  margin: 0;
}
#pokeball{
  animation: App-logo-spin infinite 8s linear;
  margin-top: 5px;
  width: 70px;
  height: 70px;
  float: left; 
}
#pokeD{
  margin-top: 25px;
  padding-left: 77px;
  font-size: 17pt;
}

@keyframes Pokedex-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}