body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#app{
  font-family: 'Abel', sans-serif;
  background-color: black;
  height: 100vh;
}
#info{
  position: absolute;
  margin-left: 41%;
  height: 100vh;
  width: 59%;
  border-left: 1pt solid white;
}

#lista{
  position: absolute;
  border: 1pt solid black;
  height: 100vh;
  overflow-y: scroll;
  width: 40%;
  font-size: 15pt;
  background-color: coral;
}

#sprite{
  width: 92%;
  height: 40%;
  border: 31pt solid #ff3838;
  outline: 2pt solid black;
  outline-offset: -31pt;
  background-color: coral;
  text-align: center;
}
#sprite div {
  font-size: 50pt;
  height: 25%;
}
#img{
  width: 200px;
  display: none;
}
#type{
  width: 100%;
  height: 5%;
  background-color: coral; 
  text-align: center;
}
#type span{
  margin-top: 10px;
  font-size: 14pt;
  position: absolute;
  width: 100%;
  text-align: center;
}
#type div{
  background-image: url("./types.png");
  height: 70%;
  width: 7%;
  display: inline-block;
  margin-top: 0.8%;
  background-size: 300px;
}
#description{
  background-color: #ff3838;
  font-size: 14pt;
  height: 44%;
  border: 1pt solid black;
  text-align: center;
  padding-top: 5px;
}
#ty{
  color: white;
  width: 100%;
  text-align: center;

}
#de{
  color: white;
  text-align: center;
  width: 100%;
}
ol{
  padding-left: 0px;
  clear:left;
  padding-top: 89px;
}
ol li{
  height: 6vh;
}
ul{
  padding: 0;
  list-style-type: none;
}
ul li{
  padding-top: 20px;
}
#sp{
  padding-left: 5px;
  position: absolute;
  margin-top: 15.5px;
}
hr{
  margin: 0;
}
#pokeball{
  animation: Pokedex-logo-spin infinite 7s linear;
  width: 70px;
  height: 70px;
  float:left;
  margin-top: 2%;
}
#pokeD{
  position: absolute;
  top: 25px;
  padding-left: 77px;
  font-size: 17pt;
  margin-top: 2%;
}
#header{
  margin: 0;
  border-bottom: 1pt solid black;
  padding-left: 5px;
  padding-top: 5px;
  position: fixed;
  width: 38.9%;
  height: 11%;
  background-color: coral;
}
#myForm{
  position: absolute;
  left: 210px;
  top: 29px;
}
#searchBar{
  margin-left: 50%;
  margin-top: 5%;
}
#flavor{
  border: 2pt solid black;
  margin-left: 30px;
  width: 500px;
  background-color: coral;
  height: 300px;
  margin-top: 4%;
  float: left;
}
#head{
  width: 500px;
  height: 40px;
  background-color:black;
  color: white;
  border-bottom: 1pt solid black;
  padding-top: 16px;
  font-size: 15pt;
}
#fl{
  padding-top: 65px;
  width: 450px;
  text-align: center;
  margin: auto;
}
#mis{
  border: 2pt solid black;
  margin-left: 30px;
  width: 500px;
  background-color: coral;
  height: 300px;
  margin-top: 4%;
  float: left;
}
#head2{
  width: 500px;
  height: 40px;
  background-color:black;
  color: white;
  border-bottom: 1pt solid black;
  padding-top: 16px;
  font-size: 15pt;
}
#miscellanea{
  padding-top: 25px;
  width: 450px;
  text-align: center;
  margin: auto;
}

@keyframes Pokedex-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}